@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans';
  background-color: #121f3d ;
  padding: 20px;

}

#area {
  align-items: center;
  border: 3px dashed #aaa;
  border-radius: 5px;
  color: #555;
  display: flex;
  flex-flow: column nowrap;
  font-size: 15px;
  height: 80vh;
  justify-content: center;
  max-height: 200px;
  margin: 30px auto ;
  overflow: auto;
  padding: 25px;
  text-align: center;
  white-space: pre-line;
  width: 80%;
  max-width: 400px;
}

.bg{
  /*background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=-1&s=1');
  background-position: center;
  background-size: cover;*/
  background-color: white;
}

h3 {
  color: #555;
  font-weight: 400;
}

h2 {
  background-color: #121f3d;
  color:white;
  border-bottom: 3px solid #98ca3f;
  border-top: 3px solid rgb(21, 143, 137);
  border-left: 3px solid lightseagreen;
  border-right: 3px solid lightseagreen;
  font-weight:bold;
  font-size: 20px;
  /*-webkit-text-stroke: 0.001px #fff;*/
  padding: 4px;
}

.title{
    text-align: center;
}

.bar{
   border:5px solid rgb(242, 242, 242);
   margin-bottom: 24px;
}

.dashboard{
  width: 100%;
  /*border-top:8px solid rgb(242, 242, 242);*/
  background: #fff !important;
  height: 100%;
  white-space: pre-line;
  padding: 20px 20px;
  text-align: center;
  justify-content: center;
}

#box1{
  display: flex;
  border: 2px solid darkslategrey;
  height: 78vh;
  width: 30vh;
}

#box2{
  display: flex;
  border: 2px solid darkslategrey;
  height: 78vh;
  width: 30vh;
}

textarea{
  border: 2px solid darkslategrey;;
  padding: 20px;
}

textarea::placeholder {
  color: darkslategrey;
  opacity: 0.5;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

